<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #formulario="ngForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Correo electronico</ion-label>
            <ion-input type="email" required name="correo" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" required name="clave" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
           <ion-button expand="block" (click)="IniciarSesion(formulario)">
            Iniciar sesion
           </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
             <ion-button expand="block" (click)="registrarUsuario(formulario)">
              Registrar usuario
             </ion-button>
          </ion-col>
        </ion-row>
    </form>

</ion-content>
