<ion-header>
  <ion-toolbar>
    <ion-title>mostrarInfo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <form #formulario="ngForm">
        <ion-row>
          <ion-col>
             <ion-button expand="block"
              (click)="mostrarInfo()">
              Iniciar sesion
             </ion-button>
             <div *ngIf="id!=0" >
                <p>id: {{id}}</p>
                <p>nombre: {{nombre}}</p>
                <p>edad: {{edad}}</p>
            </div>

          </ion-col>
        </ion-row>
      </form>

</ion-content>
